.problems {
  padding: 0;
  .problems-list {
    flex: 1.5;
    padding: 0;
    background-color: rgba(0,0,0,0.05);
  }

  .problem-details {
    flex: 4;
  }

  .agent-properties {
    flex: 1;
  }
}
